.cover__text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 560px;
  height: 250px;
  margin: auto;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__text {
    width: 300px;
    height: 120px;
  }
}

@media screen and (max-width: 424px) {
  .cover__text {
    width: 288px;
    height: 135px;
  }
}
