.cover {
  position: relative;
  color: #ffffff;
  width: calc(100% - (48px * 2));
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 64px;
  }
}
