.place {
  display: grid;
  grid-template-columns: 460px minmax(484px, 1fr);
  column-gap: 40px;
  row-gap: 48px;
  margin-top: 80px;
}

.place:first-child {
  margin-top: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px minmax(456px, 1fr);
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px minmax(352px, 1fr);
    column-gap: 28px;
    margin-top: 73px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 200px minmax(157px, 1fr);
    column-gap: 20px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 424px) {
  .place {
    grid-template-columns: 100%;
    gap: 32px;
    justify-content: center;
  }
}
